In [1]:
import pandas as pd

drivers_df = pd.read_csv("./data/drivers.csv")
drivers_df.head(3)

,driver_id,customer_rating_count,average_rating,rides,average_distance_per_ride,average_speed,car_type
0,219,179,4.53,468,39.34,66.35,SUV
1,10796,310,4.38,602,48.61,94.15,Van
2,129,169,3.97,112,45.32,40.29,SUV

In [2]:
drivers_df.columns

Index(['driver_id', 'customer_rating_count', 'average_rating', 'rides',
       'average_distance_per_ride', 'average_speed', 'car_type'],
      dtype='object')

## Parcel Deliveries

In [3]:
deliveries_df = pd.read_csv("./data/parcel_delivery.csv")
deliveries_df.head(3)

,parcel_id,latitude,longitude,timestamp,driver_id,notes,stage
0,780281868,-17.2986,31.331,2019-01-01 03:07:37,219,Collected at Bindura,Collected
1,780281868,-17.2986,31.331,2019-01-01 07:07:37,10796,In transit from Bindura,In Transit
2,780281868,-17.2986,31.331,2019-01-01 11:07:37,129,Awaiting delivery in Bindura,Waiting for Delivery

In [4]:
deliveries_df["notes"]

0                      Collected at Bindura
1                   In transit from Bindura
2              Awaiting delivery in Bindura
3               Collected at Victoria Falls
4                     Collected at Masvingo
                       ...
7995                    Delivered in Kadoma
7996            Collected at Victoria Falls
7997         In transit from Victoria Falls
7998    Awaiting delivery in Victoria Falls
7999            Delivered in Victoria Falls
Name: notes, Length: 8000, dtype: object

In [5]:
deliveries_df.columns

Index(['parcel_id', 'latitude', 'longitude', 'timestamp', 'driver_id', 'notes',
       'stage'],
      dtype='object')

# User activity

In [6]:
user_activity_df = pd.read_csv("./data/user_activity.csv")
user_activity_df.head(3)

   user_id  parcel_id       action            timestamp
0        1  993505835  Add to Cart  2021-08-21 18:14:10
1        1  959747133  Add to Cart  2023-03-05 18:12:03
2        1  727254457       Viewed  2022-10-28 04:45:09

In [7]:
user_activity_df.columns

Index(['user_id', 'parcel_id', 'action', 'timestamp'], dtype='object')

In [9]:
user_activity_df.action.unique()

array(['Add to Cart', 'Viewed', 'Bought'], dtype=object)

In [10]:
# Making the action into past tense

user_activity_df["action"] = user_activity_df["action"].replace("Add to Cart", "Added to Cart")

user_activity_df.head(5)

   user_id  parcel_id         action            timestamp
0        1  993505835  Added to Cart  2021-08-21 18:14:10
1        1  959747133  Added to Cart  2023-03-05 18:12:03
2        1  727254457         Viewed  2022-10-28 04:45:09
3        1  126332146         Bought  2019-08-16 15:44:59
4        1  396057776         Bought  2023-06-04 11:09:47